body{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.body{
    /*margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;*/
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
 
}
.header{
    width: 100%;
    background-color: #4e4e4e;
    position: fixed;
    z-index: 9999;
    
}

.header>.navbar{
    text-align: right;
    float: right;
    padding: 10px 0 0 0;
    top: 0;
    left: 0;
}
.header>.navbar>ul{
    list-style: none;
    display: inline-block;
    padding: 0 20px 0 20px;
}
.header>.navbar > ul > li{
    float: left;
}
.header>.navbar > ul > li > a{
    padding: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

a:hover {
    background-color: rgb(194, 193, 194);
}

.body> .content
{
    /*max-width: 500px;*/
    text-align: center;
    padding: 0 50px;
    margin: auto;
}
.body> .content> .profile-image{
    border-radius:50%;
    margin: 200px 0 0 0;
    width: 150px;
}
.body >.content > .text-content{
    color: #ffffff;
    padding: 10px 0 0 0;
}
.body >.content > .text-content{
    color: #ffffff;
    padding: 10px 0 0 0;
}


.body >.content > .text-content >.opening-text{
    font-size: 22px;

}
.body >.content > .text-content >.welcome-text{
    font-size: 50px;
}



/*==============css for skill and about.html=======================*/
.banner-group{
    background-image: url(images/bg2.jpg);
    height: 600px;
}
.banner-group> .banner-content
{
    /*max-width: 500px;*/
    text-align: center;
    padding: 0 10px;
    margin: auto;
}
.banner-group>.banner-content> .profile-image{
    border-radius:50%;
    margin: 200px 0 0 0;
    width: 150px;
}
.banner-group >.banner-content > .text-content{
    color: #ffffff;
    padding: 10px 0 0 0;
}
.banner-group >.banner-content > .text-content >.opening-text{
    font-size: 50px;

}
.body-content{
    position: absolute;
    text-align: center;
    margin: 200px 20px;

}
.body-content>.first-col{

    float: left;
    width: 30%;
    margin: 0 0 0 40px;
    padding: 0 20px 0 2px;
}
.body-content>.first-col>img{
    width: 70%;
}

.body-content>.second-col{

    float: left;
    width: 30%;
    margin: 40px 0 0 0;
    padding: 0 20px 0 0;
}

.body-content>.second-col>img{
    width: 60%;
}
.body-content>.third-col{
    
    float: left;
    width: 30%;
    margin: 40px 20px 0 0;

}
    
.body-content>.third-col>img{
    width: 60%;
}
.button{
    text-decoration: none;
    background: #4e4e4e;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    padding: 15px 32px;
}
.footer{
    margin: 1000px 0 0 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4e4e4e;
    text-align: center;
}
.footer>p{
    color: #ffffff;
}
/*=====================================================*/

.body-content2
{
    max-width: 500px;
    text-align: center;
    padding: 100px 50px;
    margin: auto;
}
.body-content2>h1
{
    background-color: #4e4e4e;
    color: #ffffff;
    padding: 10px 0;
}
.body-content2>p
{
    padding: 0 0 80px 0;
}

.body-content2>.first-account>.float-1>img
{
    width: 15%;
    float: left;
}
.body-content2>.first-account>.float-1>p
{
    padding: 10px 10px 0 0;
    float: left;
}
.body-content2>.second-account>.float-2>img
{
    width: 10%;
    float: left;
    padding: 13px 10px 0 10px;
}
.body-content2>.second-account>.float-2>p
{
    padding: 10px 10px 0 0;
    float: left;
}
.body-content2>.third-account>.float-3>img
{
    width: 10%;
    float: left;
    padding: 10px 10px 0 10px;
}
.body-content2>.third-account>.float-3>p
{
    padding: 10px 0 0 0;
    float: left;
}
.footer2{
    margin: 400px 0 0 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4e4e4e;
    text-align: center;
}
.footer2>p{
    color: #ffffff;
}